{{- define "main" }}
{{- with .Content }}
{{ . }}
{{- else }}

<div class="page-single">
    <div class="ax-content ax-l-o">
      <div class="ax-l-i max-w-680">
        <h1 class="page-title font-content-title font-normal leading-tight tracking-default text-40">This Is How You Program</h1>
  
        <article class="cdata mt-8">
          <p>Hi there!</p>
  <p>My name is Alan and this is my new project: A free, comprehensive education in computer programming.</p>
  <p>I going to build it piece by piece. Publishing each part as I go. It’s a Digital Garden approach. One that will grow and adapt as it progresses.</p>
  <p>There’s nothing to see here yet. I just bought this site on Dec. 19th, 2020. I’m off for the next two weeks though and this is what I’m going to be spending my time on. So, check back soon to see how things are going.</p>
  <p>Some other things:</p>
  <ul>
  <li>
  <p>Everything on the site will be 100% free.</p>
  </li>
  <li>
  <p>This site will not have ads. Ads may have their place, but it’s not in education.</p>
  </li>
  <li>
  <p>This site won’t have invasive tracking. There will be some analytics, but only so I can monitor the site’s performance. It’ll all be anonymous.</p>
  </li>
  <li>
  <p>The content will be licensed in an open source way that will let anyone use it.</p>
  </li>
  <li>
  <p>There will be no requirement to sign up. You can use the site completely anonymously and with no hassle. (There will eventually be user accounts that make it easier to track progress, but they won’t be required.)</p>
  </li>
  <li>
  <p>This is in no way a money making venture. I’m building this because I love programming and in a very real way I would have been lost without it. I’m standing on the shoulders of giants. It’s my duty and my calling to help others up.</p>
  </li>
  </ul>
  <p>If you want to reach out, I’m on Twitter and my personal site is alanwsmith.com. Feel free to stop by and say hi.</p>
  <p>-a</p>
  
        </article>
      </div>
    </div>
  </div>

  


<div class="default-single">
  <div class="ax-content ax-l-o">
    <div class="ax-l-i max-w-680">
        {{ range (.Paginate .Pages).Pages }}
            {{ .Render "summary" }}
        {{ end }}
    </div>
  </div>
</div>
{{- end }}
{{- end }}
